<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
				<key>dateExpires</key>
				<string>29/03/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_launch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>razorpay_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD3B9AB025136D37A8080AF758E6548E71A833B6</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99KJMNZQWG</string>
						<key>name</key>
						<string>Arpit Shah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>99KJMNZQWG.com.itfuturz.digitalcard</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>99KJMNZQWG</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3c8af8e5-075c-4dae-b69c-0ced60c4dc5e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.itfuturz.digitalcard</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>99KJMNZQWG</string>
				<key>name</key>
				<string>Arpit Shah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
